extends ./layout/default_layout

block title_name
	title=title


block main_content
	
	include ../elements/menu/index


	include ../elements/intro/index
	include ../elements/speakers/index
	include ../elements/agenda/index
	include ../elements/map/index
	include ../elements/ticket/index
	
