.speakers
	padding: 50px 0
	&-list
		+min-screen($mobile - 1)
			display: flex
			flex-wrap: wrap
			justify-content: space-around
			flex-direction: row
	&-person
		// flex: 1 0 0
		margin-bottom: 50px
		padding: 0 30px
		+min-screen($mdpi)
			flex: 1 0 45%
			max-width: 45%
		+min-screen($mdpi)
			margin-bottom: 100px
			margin-bottom: 100px
			// flex: 1 0 26%
			// max-width: 26%
		&-image
			display: inline-block
			background-repeat: no-repeat
			background-position: 50% 50%
			background-size: cover
			vertical-align: middle
			height: 146px
			width: 146px
			+min-screen($mobile - 1)
				height: 200px
				width: 200px
			&-wrap
				margin-bottom: 30px
				text-align: center
				position: relative
				white-space: nowrap
				&:before,
				&:after
					@extend %icon
					vertical-align: middle
					font-size: 140px
					line-height: 1
					+min-screen($mobile - 1)
						font-size: 186px
						line-height: 1
				&:before
					content: $icon-bracket-l-origin
					padding-right: 5px
					+min-screen($mobile - 1)
						padding-right: 20px
				&:after
					content: $icon-bracket-r-origin
					padding-left: 5px
					+min-screen($mobile - 1)
						padding-left: 20px
		&-name
			text-align: center
			margin-bottom: 15px
			font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
			font-size: $text-header-size 
		&-info
			font-size: 18px
			font-weight: 700
			margin-bottom: 25px
			color: $primary-blue
			+min-screen($tablet - 1)
				margin-bottom: 25px
	&-talk
		&-name
			color: $primary-red
			font-family: Arial, "Helvetica Neue", Helvetica, sans-serif
			display: flex
			align-items: center
			margin-bottom: 25px
			line-height: 1.25
			text-transform: uppercase
			font-size: $text-header-size/1.5
			+min-screen($mobile - 1)
				font-size: $text-header-size
			&:before
				@extend %icon
				content: $icon-bracket-l-origin
				font-size: 50px
				margin-right: 10px
				color: $primary-light-red
				+min-screen($mobile - 1)
					font-size: 104px
		&-info
			font-size: 20px
			&:before
				content: "{"
			&:after
				content: "}"
