section#speakers.speakers.scroll-spy
	h1.section_header speakers

	.speakers-list
		each speaker in speakers
			.speakers-person
				.speakers-person-image-wrap
					.speakers-person-image(style="background-image: url('/img/" + speaker.person.image + "');")
				h2.speakers-person-name=speaker.person.name
				p.speakers-person-info=speaker.person.info
				h2.speakers-talk-name=speaker.talk.name
				p.speakers-talk-info=speaker.talk.info

